html {
  font-size: 62.5%;
}

.card > a {
  text-decoration: none;
  color: #000;
}

.thumbnail {
 height: 170px;
    width: 100%;
  border-radius: 1rem;
}

.Openthumbnail {
 height: 190px;
    width: 100%;
  border-radius: 1rem;
}

.logo-with-text {
  /* width: 35rem; */
  padding-top: 1rem;
  display: flex;
  flex-direction: row !important;
  gap: 1.5rem;
}

.logo {
  font-size: xx-large;
}

.main-title {
  font-size: 1.7rem;
  font-weight: 600;
  padding-right: 1rem;
  display: flex;
  margin-bottom: 0.8rem;
}

.channel-name {
  font-size: small;
  margin-bottom: 0.1rem;
}
.views-with-time {
  font-size: small;
}

/* @media screen and (max-width: 768px) {
  html {
  }
} */
