.sidebar {
  position: sticky;
  height: 3rem;
  top: 8rem;
  flex: 0.15555;
  padding: 0.5rem 0.5rem;
}

.second_row {
  position: sticky;
  height: 3rem;
  top: 8rem;
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
